@charset "UTF-8";
html {
  padding: 0;
  margin: 0; }
  html body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-image: url(img/stars.jpg);
    background-size: contain;
    background-position: center; }
  html #logo {
    font-family: "Pacifico", cursive;
    color: white;
    font-size: 3.5em;
    top: 0px;
    right: 20px;
    position: fixed;
    float: right;
    z-index: 10;
    letter-spacing: 1px;
    font-weight: 200; }
  html #load_screen {
    background: #000;
    position: fixed;
    z-index: 200;
    top: 0px;
    width: 100%;
    height: 400vh; }
    html #load_screen #loadingText {
      position: fixed;
      font-size: 4em;
      font-family: "Bubbler One", sans-serif;
      letter-spacing: 5px;
      color: #1a8cff;
      width: 50vw;
      top: 20vh;
      left: 40vw; }
    html #load_screen .spinner {
      width: 100px;
      height: 100px;
      background: #000;
      border-radius: 50%;
      position: fixed;
      margin: 50vh 47vw 30vh;
      display: inline-block;
      z-index: 201; }
      html #load_screen .spinner:after, html #load_screen .spinner:before {
        content: "";
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%; }
    html #load_screen .spinner-4 {
      transform: scale(2); }
      html #load_screen .spinner-4:before, html #load_screen .spinner-4:after {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
        background: #1a8cff;
        animation: pulse 1.5s linear infinite;
        opacity: 0; }
      html #load_screen .spinner-4:after {
        animation: pulse 2s linear 2.3s infinite; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  z-index: 2000;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translate3d(0, -50px, 0);
  -ms-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  -ms-transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out; }

.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.pace .pace-progress {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 10px;
  background: #29d;
  pointer-events: none; }

#desktopNav {
  margin: 1.5vw 0 0 0 auto;
  text-align: center;
  top: 1vh;
  z-index: 100;
  position: fixed;
  left: 20vw;
  right: 20vw; }
  #desktopNav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    background: #ddd;
    border-radius: 5px;
    opacity: 0.9; }
    #desktopNav > ul > li {
      float: left;
      width: 150px;
      height: 65px;
      line-height: 65px;
      position: relative;
      text-transform: uppercase;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.7);
      cursor: pointer; }
      #desktopNav > ul > li:hover {
        background: #cccccc;
        border-radius: 3px; }
  #desktopNav a {
    padding: 10px;
    color: black;
    text-decoration: none;
    font-weight: 400; }
  #desktopNav .interMenuLink {
    color: #fff;
    text-decoration: none; }

ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0; }
  ul.drop-menu li {
    background: #666;
    color: rgba(255, 255, 255, 0.7);
    color: white; }
    ul.drop-menu li:hover {
      background: #606060; }
    ul.drop-menu li:last-child {
      border-radius: 0px 0px 5px 5px; }

ul.drop-menu li {
  display: none; }

li:hover > ul.drop-menu li {
  display: block; }

li:hover > #dropdown-menu-1 {
  perspective: 1000px; }
  li:hover > #dropdown-menu-1 li {
    opacity: 0; }
    li:hover > #dropdown-menu-1 li:nth-child(1) {
      animation-name: menu1;
      animation-duration: 150ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > #dropdown-menu-1 li:nth-child(2) {
      animation-name: menu1;
      animation-duration: 300ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > #dropdown-menu-1 li:nth-child(3) {
      animation-name: menu1;
      animation-duration: 450ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > #dropdown-menu-1 li:nth-child(4) {
      animation-name: menu1;
      animation-duration: 600ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > #dropdown-menu-1 li:nth-child(5) {
      animation-name: menu1;
      animation-duration: 750ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > #dropdown-menu-1 li:nth-child(6) {
      animation-name: menu1;
      animation-duration: 900ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }

li:hover > #dropdown-menu-2 {
  perspective: 1000px; }
  li:hover > #dropdown-menu-2 li {
    opacity: 0;
    transform-origin: top center; }
    li:hover > #dropdown-menu-2 li:nth-child(1) {
      animation-name: menu2;
      animation-duration: 300ms;
      animation-delay: -100ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > #dropdown-menu-2 li:nth-child(2) {
      animation-name: menu2;
      animation-duration: 300ms;
      animation-delay: 100ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > #dropdown-menu-2 li:nth-child(3) {
      animation-name: menu2;
      animation-duration: 300ms;
      animation-delay: 300ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > #dropdown-menu-2 li:nth-child(4) {
      animation-name: menu2;
      animation-duration: 300ms;
      animation-delay: 500ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > #dropdown-menu-2 li:nth-child(5) {
      animation-name: menu2;
      animation-duration: 300ms;
      animation-delay: 700ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > #dropdown-menu-2 li:nth-child(6) {
      animation-name: menu2;
      animation-duration: 300ms;
      animation-delay: 900ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }

#mobileNav {
  padding: 0;
  margin: 0;
  float: left;
  background-color: #1a8cff;
  width: 40vw;
  transform: translateX(-40vw);
  transition: transform 0.4s ease-in-out;
  height: 100vh;
  overflow: scroll;
  z-index: 1;
  position: fixed; }
  #mobileNav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center; }
    #mobileNav ul li {
      display: block; }
  #mobileNav a {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    font-weight: 400; }

#mobileNav.open {
  transform: translateX(0vw);
  transition: transform 0.4s ease-in-out;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.3); }

.sidedrop-menu li {
  font-size: 3em;
  padding: 25px 5px 25px 5px;
  color: white; }
  .sidedrop-menu li:hover {
    background-color: #0073e6; }

#side-menu-button {
  position: fixed;
  width: 100px;
  height: 100px;
  padding: 20px;
  background: transparent;
  cursor: pointer;
  margin: 20px;
  transition: all 0.4s ease-in-out;
  z-index: 1;
  transform: scale(1.2); }
  #side-menu-button div {
    background-color: #1a8cff;
    width: 90px;
    height: 10px;
    margin-bottom: 20px;
    transition: all 0.15s ease-out; }
  #side-menu-button.checked {
    transform: translateX(38vw) scale(1.2); }
    #side-menu-button.checked #burger-one {
      transform: translateY(30px) rotate(45deg);
      background-color: #ff0000; }
    #side-menu-button.checked #burger-two {
      opacity: 0; }
    #side-menu-button.checked #burger-three {
      transform: translateY(-30px) rotate(-45deg);
      background-color: #ff0000; }

#socialDesktopLinks {
  position: fixed;
  top: 20px;
  left: 2vw;
  z-index: 100; }
  #socialDesktopLinks img {
    width: 50px;
    height: 50px;
    margin: 0 30px 0 30px; }
    #socialDesktopLinks img:hover {
      animation-name: social-icons-rotate;
      animation-duration: 400ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }

#landing {
  min-height: 100vh;
  background-color: transparent;
  z-index: 0; }

#lavori {
  margin-top: 0;
  min-height: 100vh;
  background-color: transparent;
  z-index: 0; }

#servizi {
  margin-top: 0;
  min-height: 100vh;
  background-color: transparent;
  z-index: 0;
  background-size: cover;
  background-attachment: fixed; }
  #servizi h3 {
    line-height: 40px; }
  #servizi ul {
    list-style: none; }
  #servizi li {
    color: #fff;
    font-family: "Bree Serif", serif;
    font-size: 1.1em;
    font-weight: 200;
    margin-right: 2vw; }

#contatti {
  margin-top: 0;
  min-height: 100vh;
  background-color: transparent;
  z-index: 0; }
  #contatti #Email-form {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    width: 37vw;
    height: 37vw;
    border-radius: 1000px;
    margin: auto;
    padding: 0;
    box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.3);
    text-align: center;
    border: none;
    transform: translateY(-10vh);
    top: 22vh; }
    #contatti #Email-form h3 {
      margin: 0;
      padding: 0;
      font-size: 3em;
      display: inline-block;
      position: relative;
      transform: translateY(70px);
      font-weight: 200;
      color: white; }
    #contatti #Email-form #Thankh3 {
      top: 70px; }
    #contatti #Email-form p {
      font-size: 1.5em;
      margin: auto;
      color: white;
      max-width: 80%;
      text-align: center;
      transform: translateY(150px); }
    #contatti #Email-form #returnToIndex {
      margin: 30vh 0 0 0;
      background-color: #3399ff;
      color: white;
      border: none;
      width: 40%;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
      letter-spacing: 1px;
      display: inline-block;
      position: relative;
      bottom: 1px;
      border-radius: 8px;
      line-height: 50px; }
      #contatti #Email-form #returnToIndex:hover {
        background-color: #1a8cff; }
      #contatti #Email-form #returnToIndex a {
        color: white;
        text-decoration: none;
        font-size: 1.5em; }
    #contatti #Email-form form {
      padding: 0;
      margin: 150px 0 0 0;
      text-align: center;
      color: #8c8c8c; }
      #contatti #Email-form form input {
        margin: 0 0 10px 0;
        padding: 8px;
        font-size: 1.1em;
        border-radius: 6px;
        width: 70%; }
      #contatti #Email-form form textarea {
        margin: 20px 0 0 0;
        padding: 10px;
        font-size: 1.5em;
        border-radius: 6px;
        width: 70%;
        font-family: sans-serif; }
      #contatti #Email-form form legend {
        margin: auto;
        padding: 0;
        text-align: center;
        border: none;
        margin-top: 0;
        margin-bottom: 0;
        display: inline-block;
        font-size: 1.2em;
        color: white; }
      #contatti #Email-form form select {
        display: inline-block;
        margin: 10px 0 0 0;
        padding: 5px;
        width: 70%;
        font-size: 1.2em;
        text-align: center;
        border-radius: 6px;
        color: #666666; }
      #contatti #Email-form form #send {
        font-size: 1.5em;
        margin: 70px 0 0 0;
        background-color: #3399ff;
        color: white;
        border: none;
        width: 25%;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
        letter-spacing: 1px;
        display: inline-block;
        position: relative;
        bottom: 1px;
        line-height: 5vh; }
        #contatti #Email-form form #send:hover {
          background-color: #1a8cff; }

#footer {
  margin-top: -6vh;
  height: 6vh;
  background-color: #1a8cff;
  z-index: 3; }

#mobileFooter {
  position: fixed;
  height: 8vh;
  background-color: black;
  z-index: 4;
  width: 100vw;
  margin-top: 92.3vh; }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .flex-container .box {
    height: 45vh;
    width: 15vw;
    flex-grow: 1;
    margin: 32.5vh 14px 32.5vh 14px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    -webkit-transition: 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
    transition: all 0.2s ease-in-out, transform 0.2s ease-in-out;
    border: solid 2px white; }
    .flex-container .box:hover {
      transform: scale(1.02); }
    .flex-container .box h3 {
      color: white;
      font-weight: 400;
      font-family: "Pacifico", cursive;
      font-size: 2em;
      letter-spacing: 4px;
      display: block;
      line-height: 65px; }
    .flex-container .box h4 {
      color: white;
      font-size: 1.5em;
      padding: 0;
      margin: 0;
      font-family: "Bree Serif", serif;
      font-weight: 10;
      letter-spacing: 2px; }
    .flex-container .box p {
      font-family: "Bree Serif", serif;
      color: white;
      font-weight: 400;
      max-width: 15vw;
      margin-left: 2vw;
      margin-right: 2vw;
      text-align: center; }
    .flex-container .box a {
      text-decoration: none;
      height: 45vh;
      min-width: 256px;
      max-width: 18vw; }
    .flex-container .box iframe {
      margin: 46px 0 0 0;
      padding: 0;
      display: block;
      border: none; }
  .flex-container .five a {
    height: 45vh !important; }
  .flex-container .six h3 {
    margin-top: 10px; }
  .flex-container .seven a {
    min-width: 170px !important;
    max-width: none;
    border-radius: 6px;
    font-size: 1.5em;
    margin: 70px 0 0 10px;
    background-color: #3399ff;
    color: white;
    border: none;
    width: 50%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    display: inline-block;
    position: relative;
    bottom: 1px;
    line-height: 7vh;
    height: 15%; }
    .flex-container .seven a:hover {
      background-color: #1a8cff; }

#mobileIconsContainer {
  display: flex;
  justify-content: center;
  align-items: center; }
  #mobileIconsContainer img {
    width: 100px;
    height: 100px;
    margin: 15px 50px 10px 50px; }

@keyframes menu1 {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px); }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px); } }
@keyframes menu2 {
  0% {
    opacity: 0;
    transform: rotateX(-90deg); }
  60% {
    transform: rotateX(50deg); }
  100% {
    opacity: 1;
    transform: rotateX(0deg); } }
@keyframes social-icons-rotate {
  0% {
    transform: rotateZ(0deg); }
  5% {
    transform: rotateZ(18deg); }
  10% {
    transform: rotateZ(36deg); }
  100% {
    transform: rotateZ(360deg); } }
@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1; }
  100% {
    transform: scale(1.3);
    opacity: 0; } }
/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 1280px) {
  #desktopNav {
    display: none; }

  #logo {
    font-size: 4.5em;
    margin: -10px 0 0 0 !important;
    padding: 0 !important;
    right: 5px;
    letter-spacing: 2px; }

  .flex-container {
    justify-content: column; }

  .box {
    max-height: 35vh;
    min-width: 100vw !important;
    margin: 35px 0 35px 0 !important;
    border-radius: 0 !important;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    background: transparent !important;
    transition: none !important; }
    .box:hover {
      transform: scale(1) !important; }
    .box h3 {
      font-size: 4em !important; }
    .box p {
      width: 80vw !important;
      font-weight: 100;
      font-size: 2.5em !important;
      max-width: none !important;
      margin: auto !important; }

  #lavori {
    height: 200vh; }
    #lavori iframe {
      display: none; }

  #servizi {
    height: 200vh; }

  #footer {
    display: none; }

  #socialDesktopLinks {
    display: none; }

  #Email-form {
    width: 100vw !important;
    height: 100vw !important;
    top: 30vh !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-top: 2px solid white !important;
    border-bottom: 2px solid white !important; }
    #Email-form input {
      font-size: 2.5em !important;
      width: 80% !important; }
    #Email-form textarea {
      font-size: 2.5em !important;
      width: 80% !important; }
    #Email-form legend {
      font-size: 2.5em !important; }
    #Email-form select {
      font-size: 2em !important;
      width: 80% !important; }
    #Email-form #send {
      width: 40% !important; }

  #homeImgCont {
    display: none !important; }

  #servizi .six {
    max-height: 45vh !important; }
    #servizi .six h3 {
      margin-top: 70px !important; }
    #servizi .six li {
      font-size: 2.5em; }
  #servizi .seven a {
    font-size: 2.5em !important;
    line-height: 5vh !important;
    width: 30% !important;
    margin: 70px 0 0 0 !important;
    padding: 10px; }
  #servizi .nine {
    max-height: 45vh !important; }
    #servizi .nine h3 {
      margin-top: 70px !important; }
    #servizi .nine li {
      font-size: 2.5em; }

  #loadingText {
    left: 28vw !important;
    font-size: 6em !important; } }
/* large desktops and up ΓÇöΓÇöΓÇöΓÇô */
@media screen and (min-width: 1280px) {
  #mobileNav {
    display: none; }

  #side-menu-button {
    display: none; }

  #mobileFooter {
    display: none; }

  #Email-form h3 {
    top: 20px !important; }

  #logo {
    margin: 0; } }

/*# sourceMappingURL=symposium.css.map */
